/* .proj-image {
    height: 250px;
    width: 350px;
} */
.Projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.check {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.MuiCardActions-root.MuiCardActions-spacing.css-1t6e9jv-MuiCardActions-root {
    align-self: end;
}